<!-- <div class="sidebar">
    <div class="sidebar__logo">
        <img class="sidebar__img" src="assets/logo/logo.png" alt="Logo">
    </div>
    <div class="sidebar__options">
        @for (item of listModules()?.modulos; track $index) {
           <div class="container_icon" (click)="changeItem(item)">
                <mat-icon class="icon">home</mat-icon>
                <span class="text-center mt-2 text-white">{{item.nombre}}</span>
           </div>
        }
    </div>
</div>

<div class="sidebar_left" [class.visible]="itemCollapse.collapse">
    @for (item of listItems; track $index) {
        <span class="text-left text-white">{{item.nombre}}</span>
    }
</div>

 -->

