.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree > .mat-tree-node {
  padding-left: 50px;
}
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 50px;
}

.structure {
  border: 1px solid red;
  height: 600px;
  overflow: auto;
  display: flex;
  column-gap: 20px;
}

.structure__header {
  border: 1px solid blue;
  height: 100%;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.structure__header .structure__title {
  font-weight: 500;
  font-size: 1.3rem;
}

.structure__form {
  justify-self: end;
}

.structure__details {
  border: 1px solid green;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  flex: 2;
}

mat-stepper,
mat-step {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.step-container {
  border: 1px solid orange;
  height: 100%;
  overflow-y: auto;
}

.mat-horizontal-stepper-wrapper,
.mat-horizontal-content-container, 
.mat-horizontal-stepper-content {
  height: 100%;
}