.body__flow {
    width: 300px;
}

.body__buttons {
    display: flex;
    column-gap: 16px;
}

.body__buttons button {
    background-color: #e4e8eb;
    padding: 10px 20px;
    border-radius: 4px;
}

.body__buttons button:hover {
    background-color: gray;
}