.button-accept {
    background-color: #169F85;
}

.button-cancel {
    background-color: #c2230d;
}

.button-disabled {
    background-color: #3bcfb4;
}

.button-other {
    background-color: #e4e8eb;
    color: black !important;
}

button {
    color: white !important;
}
