<h2 class="title">Análisis de presupuesto para 
    @if (!loadingEnterpriseReport()) {
      <span>{{enterpriseReport()?.customer}}</span>
    }
</h2>
@if (loadingEnterpriseReport()) {
  <div class="flex justify-center">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="dashboard-cards">
    <div class="card-dashboard">
      <p class="dashboard-cards__title">Contrato: </p>
      <p>{{enterpriseReport()!.contract}}</p>
      <div class="progress-bar">
        <div class="progress-bar__fill flex justify-center" [style.width.%]="enterpriseReport()!.contractPercentage * 100">
          <span class="progress-bar__text">
          </span>
        </div>
      </div>
      <div class="flex justify-center">
        {{enterpriseReport()!.contractPercentage | percent}}
      </div>
    </div>
    <div class="card-dashboard">
      <p class="dashboard-cards__title">Ingreso (Ejec. / Ppto.): </p>
      <p>{{(enterpriseReport()!.incomeE | millions) + ' / ' + (enterpriseReport()!.incomeP | millions)}}</p>
      <div class="progress-bar">
        <div class="progress-bar__fill flex justify-center" [style.width.%]="enterpriseReport()!.incomePercentage * 100">
          <span class="progress-bar__text">
          </span>
        </div>
      </div>
      <div class="flex justify-center">
        {{enterpriseReport()!.incomePercentage | percent}}
      </div>
    </div>
    <div class="card-dashboard">
      <p class="dashboard-cards__title">Cobranza (Ejec. / I. Ppto.): </p>
      <p>{{(enterpriseReport()!.cashInflow | millions) + ' / ' + (enterpriseReport()!.incomeP | millions)}}</p>
      <div class="progress-bar">
        <div class="progress-bar__fill flex justify-center" [style.width.%]="enterpriseReport()!.cashPercentage * 100">
          <span class="progress-bar__text">
          </span>
        </div>
      </div>
      <div class="flex justify-center">
        {{enterpriseReport()!.cashPercentage | percent}}
      </div>
    </div>
    <div class="card-dashboard">
      <p class="dashboard-cards__title">Egreso (Ejec / E. Ppto.): </p>
      <p>{{(enterpriseReport()!.budgetE | millions) + ' / ' + (enterpriseReport()!.budgetP | millions)}}</p>
      <div class="progress-bar">
        <div class="progress-bar__fill flex justify-center" [style.width.%]="enterpriseReport()!.budgetPercentage * 100">
          <span class="progress-bar__text">
          </span>
        </div>
      </div>
      <div class="flex justify-center">
        {{enterpriseReport()!.budgetPercentage | percent}}
      </div>
    </div>
    <div class="card-dashboard">
      <p class="dashboard-cards__title">Utilidad (Ejec / U. Ppto.): </p>
      <p>{{(enterpriseReport()!.profitE | millions) + ' / ' + (enterpriseReport()!.profitP | millions)}}</p>
      <div class="progress-bar">
        <div class="progress-bar__fill flex justify-center" [style.width.%]="enterpriseReport()!.profitPercentage * 100">
          <span class="progress-bar__text">
          </span>
        </div>
      </div>
      <div class="flex justify-center">
        {{enterpriseReport()!.profitPercentage | percent}}
      </div>
    </div>
    <div class="card-dashboard card-dashboard--profit">
      <p class="dashboard-cards__title">{{enterpriseReport()!.accountingProfitE + ' / ' + enterpriseReport()!.leasingProfitE}}</p>
      <p>{{(enterpriseReport()!.accountingProfit | millions) + ' / ' + (enterpriseReport()!.leasingProfit | millions)}}</p>
    </div>
  </div>
}
<div class="px-5 hr-container">
  <hr>
</div>
<div class="flex space-x-3 p-4 items-center">
  <div class="flex space-x-3">
    <p>Flujo: </p>
    <mat-form-field>
        <mat-select class="label-text-13" [(ngModel)]="currentHeaderFlow" placeholder="Seleccione el tipo de flujo">
        @for (header of flowHeaders(); track $index) {
            <mat-option class="label-text-13" [value]="header.structureHeaderId">{{header.name}}</mat-option>
        }
        </mat-select>
    </mat-form-field>
  </div>
  <div class="flex space-x-3">
    <p class="label-text-13">Desde: </p>
    <mat-form-field>
      <input class="label-text-13" matInput [matDatepicker]="startDatePicker" [formControl]="startDate" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker
                    startView="multi-year"
                    (monthSelected)="setMonthAndYear2($event, startDatePicker)"
                    panelClass="month-year-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="flex space-x-3">
    <p class="label-text-13">Hasta: </p>
    <mat-form-field>
      <input class="label-text-13" matInput [matDatepicker]="endDatePicker" [formControl]="endDate" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker
                    startView="multi-year"
                    (monthSelected)="setMonthAndYear($event, endDatePicker)"
                    panelClass="month-year-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <button 
    color="primary"
     mat-icon-button
     (click)="getDataDashboard()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<section class="cards-periods">
  @for (accumulated of accumulated(); track $index) {
    <div class="cards-periods__item">
      <div class="cards-periods__icon">
        <mat-icon>attach_money</mat-icon>
      </div>
      <div class="cards-periods__content">
        <span class="text-xl font-semibold cards-periods__amount" [ngClass]="{'text-red-800': accumulated.value < 0, 'text-sky-800': accumulated.value >= 0}">{{accumulated.value | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</span>
        <span class="cards-periods__text">{{accumulated.name}}</span>
      </div>
    </div>
  }
</section>
<div class="grid grid-cols-6 m-7 gap-x-6 gap-y-12">
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingMonthlyAccumulatedIncome()}">
    @if (loadingMonthlyAccumulatedIncome()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          Resultado vs Presupuesto por mes
        </h3>
        <div class="h-80">
          <canvas
            baseChart
            [data]="monthlyProfitabilityChartData?.chartData"
            [options]="monthlyProfitabilityChartData?.chartOptions"
            [legend]="true"
            type="line"
          >
          </canvas>
        </div>
      </div>
    }
  </div>
  <div class="col-span-2 overflow-auto" [ngClass]="{'place-self-center': loadingMonthlyIncomeDetails()}">
    @if (loadingMonthlyIncomeDetails()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          T. Ingresos/Egresos vs Ppto por mes
        </h3>
        <table mat-table [dataSource]="dataSourceBudget" class="mat-elevation-z8">
          @for (childColumn of columnsMonthlyReportSummary; track $index) {
              <ng-container matColumnDef="{{childColumn}}">
                  <th class="border-none" mat-header-cell *matHeaderCellDef >
                      {{ childColumn }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="table-rows">
                    {{ element[childColumn] }}
                  </td>
              </ng-container>
            }
          <tr mat-header-row *matHeaderRowDef="columnsMonthlyReportSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsMonthlyReportSummary;"></tr>
        </table>
      </div>
    }
  </div>
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingMonthlyIncomeDetails()}">
    @if (loadingMonthlyIncomeDetails()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          Ingresos/Egresos vs Ppto por mes
        </h3>
        <div class="h-80">
          <canvas
            baseChart
            [data]="monthlySalesVsCostsChartData?.chartData"
            [options]="monthlySalesVsCostsChartData?.chartOptions"
            type="bar">
          </canvas>
        </div>
      </div>
    }
  </div>
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingAccumulatedReportByTypeI()}">
    @if (loadingAccumulatedReportByTypeI()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          Ingresos acumulados del periodo
        </h3>
        <div class="border-2 border-green-500">
          <mat-table [dataSource]="dataSourceI" class="mat-elevation-z8 border">
            <ng-container matColumnDef="parentLevelName">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Grupo </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.parentLevelName.trim()}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="executedAmount">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Real </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <span [ngClass]="{'text-red-800': element.executedAmount < 0}">
                  {{element.executedAmount * 100 | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}}
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="budgetedAmount">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Ppto. </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.budgetedAmount | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="difference">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Var. </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.difference | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="percentage">
              <mat-header-cell mat-header-cell *matHeaderCellDef> % del Ppto </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <div class="w-40">
                  <!--  element.percentage >= 0 ? 'primary' : 'warn'" -->
                  <mat-progress-bar
                    [value]="getAbsolutePercentage(element.percentage)"
                    [color]="'primary'"
                    mode="determinate"
                  ></mat-progress-bar>
                  <span class="text-xs mt-1 block text-center">
                    {{ element.percentage | abs | percent }}
                  </span>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="getChartDetailI(element,'I');$event.stopPropagation()">
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row matRipple *matRowDef="let row; columns: displayedColumns; let i = index" (click)="showChartIncome(row,i)" [ngClass]="{'highlight-row': firstIndexTable === i}"></mat-row>
          </mat-table>
        </div>
      </div>
    }
  </div>
  <div class="col-span-2 overflow-auto" [ngClass]="{'place-self-center': loadingChartI()}">
    @if (loadingChartI()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          T. Ingresos/Egresos vs Ppto por mes
        </h3>
        <table mat-table [dataSource]="dataSourceChartIncome" class="mat-elevation-z8">
          @for (childColumn of columnsMonthlyReportSummary; track $index) {
              <ng-container matColumnDef="{{childColumn}}">
                  <th class="border-none" mat-header-cell *matHeaderCellDef >
                      {{ childColumn }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="table-rows">
                    {{ element[childColumn] }}
                  </td>
              </ng-container>
            }
          <tr mat-header-row *matHeaderRowDef="columnsMonthlyReportSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsMonthlyReportSummary;"></tr>
        </table>
      </div>
    }
  </div>
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingChartI()}">
    @if (loadingChartI()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          G. Ingresos/Egresos vs Ppto por mes
        </h3>
        <div class="h-80">
          <canvas
            baseChart
            [data]="incomeReportChartData?.chartData"
            [options]="incomeReportChartData?.chartOptions"
            [legend]="true"
            type="bar"
          >
          </canvas>
        </div>
      </div>
    }
  </div>
  <!-- <div class="col-span-2"></div> -->
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingAccumulatedReportByTypeE()}">
    @if (loadingAccumulatedReportByTypeE()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          Costos/Gastos acumulados del periodo
        </h3>
        <div class="border-2 border-orange-500">
          <mat-table [dataSource]="dataSourceE" class="mat-elevation-z8 auto-width-table">
            <ng-container matColumnDef="parentLevelName">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Grupo </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.parentLevelName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="executedAmount">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Real </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <span [ngClass]="{'text-red-800': element.executedAmount < 0}">
                  {{element.executedAmount | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}} 
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="budgetedAmount">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Ppto. </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <div class="w-12" [ngClass]="{'text-red-800': element.budgetedAmount < 0}">
                  {{element.budgetedAmount | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}} 
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="difference">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Var. </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <span [ngClass]="{'text-red-800': element.difference < 0}">
                  {{element.difference | abs | currency:'PEN':'symbol':'1.2-2':'es-PE'}} 
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="percentage">
              <mat-header-cell mat-header-cell *matHeaderCellDef> % del Ppto </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> 
                <div class="w-40">
                  <!--  element.percentage >= 0 ? 'primary' : 'warn'" -->
                  <mat-progress-bar
                    [value]="getSafePercentage(element.percentage)"
                    [color]="'primary'"
                    mode="determinate"
                  ></mat-progress-bar>
                  <span class="text-xs mt-1 block text-center">
                    <span>{{ element.percentage | abs | percent }}</span>
                  </span>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button [id]="'e'+i" (click)="getChartDetailI(element,'E');$event.stopPropagation()">
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row matRipple *matRowDef="let row; columns: displayedColumns; let i = index" (click)="showChartExpense($event, row,i)" [ngClass]="{'highlight-row': secondIndexTable === i}"></mat-row>
          </mat-table>
        </div>
      </div>
    }
  </div>
  <div class="col-span-2 overflow-auto" [ngClass]="{'place-self-center': loadingChartE()}">
    @if (loadingChartE()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          T. Costos/Gastos vs Ppto por mes
        </h3>
        <table mat-table [dataSource]="dataSourceChartexpense" class="mat-elevation-z8">
          @for (childColumn of columnsMonthlyReportSummary; track $index) {
              <ng-container matColumnDef="{{childColumn}}">
                  <th class="border-none" mat-header-cell *matHeaderCellDef >
                      {{ childColumn }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="table-rows">
                    {{ element[childColumn] }}
                  </td>
              </ng-container>
            }
          <tr mat-header-row *matHeaderRowDef="columnsMonthlyReportSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsMonthlyReportSummary;"></tr>
        </table>
      </div>
    }
  </div>
  <div class="col-span-2" [ngClass]="{'place-self-center': loadingChartE()}">
    @if (loadingChartE()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div>
        <h3 class="text-lg font-semibold text-[#73879C] border-b border-gray-200 pb-2 mb-4">
          Costos/Gastos vs Ppto por mes
        </h3>
        <div class="h-80">
          <canvas
            baseChart
            [data]="expenseReportChartData?.chartData"
            [options]="expenseReportChartData?.chartOptions"
            [legend]="true"
            type="bar"
          >
          </canvas>
        </div>
      </div>
    }
  </div>
</div>

<p class="text-sm text-gray-500 text-right pr-11">
  Expresado en soles (S/)
    <br>
    Fuente: Información contabilizada
</p>